/* Page Layout */
.register-page {
  min-height: 100vh;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.register-box {
  width: 500px;
  background: #ffffff;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
}

/* Typography */
.title {
  font-size: 28px;
  font-weight: bold;
  color: #000;
}

.subtitle {
  font-size: 14px;
  color: #7a7a7a;
  margin-bottom: 25px;
}

/* Form Styling */
.form {
  text-align: left;
}

/* Form Row */
.row-group {
  display: flex;
  gap: 15px;
}

/* Labels */
.form-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

/* Inputs */
.form-group input,
.password-box input {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #e6e6e6;
  background: #f1f1f1;
  margin-bottom: 20px;
  font-size: 14px;
  color: #000;
}

input::placeholder {
  color: #8f8f8f;
}

/* Password Icon */
.password-box {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #777;
}

/* Terms */
.terms {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: -5px;
  margin-bottom: 20px;
}

.terms p {
  font-size: 14px;
  color: #333;
}

.terms a {
  color: #ff4b4b;
  text-decoration: none;
  font-weight: 500;
}

/* Button */
.submit-btn {
  width: 100%;
  padding: 15px;
  background: #000;
  color: #fff;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #222;
}

/* Login Link */
.login-text {
  margin-top: 20px;
  font-size: 14px;
}

.login-text a {
  color: #ff4b4b;
  text-decoration: none;
  font-weight: 600;
}
