/* Container */
.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
  padding: 20px;
}

/* Card */
.login-card {
  width: 450px;
  background: #fff;
  border-radius: 20px;
  padding: 40px;
  text-align: center;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.05);
}

/* Text */
.title {
  font-size: 28px;
  font-weight: bold;
}

.subtitle {
  color: #777;
  font-size: 14px;
  margin-bottom: 30px;
}

/* Labels + Inputs */
.label {
  text-align: left;
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 14px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 20px;
  font-size: 14px;
}

.input:focus {
  border-color: #000;
}

/* Password Icon */
.password-wrapper {
  position: relative;
}

.toggle-icon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: gray;
}

/* Options row */
.options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 10px 0 20px;
}

.forgot {
  color: red;
  text-decoration: none;
}

/* Button */
.login-btn {
  width: 100%;
  padding: 15px;
  background: black;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  margin-bottom: 20px;
}

.login-btn:hover {
  background: #333;
}

/* Sign Up */
.signup-text {
  font-size: 14px;
  margin-bottom: 20px;
}

.signup-link {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

/* Divider */
.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
  color: gray;
}

.divider:before,
.divider:after {
  content: "";
  flex: 1;
  height: 1px;
  background: #ddd;
  margin: 0 15px;
}

/* Google Button */
.google-btn {
  width: 100%;
  padding: 12px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.google-btn img {
  width: 18px;
}
