.home-container {
  width: 100%;
  overflow-x: hidden;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img {
  width: 100%;
  height: 430px;
  object-fit: cover;
  border-radius: 10px;
}

.hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  border-radius: 10px;
}

.hero-content {
  position: absolute;
  max-width: 700px;
  color: white;
  padding: 20px;
}

.hero-title {
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.4;
}

.highlight {
  color: #ff7e89;
}

/* Popular Salons */
.section-title{
  font-size: 1.8rem;
  font-weight: 600;
}

.salon-card img {
  width: 100%;
  height: 270px;
  border-radius: 8px;
  object-fit: cover;
}

.explore-link {
  color: #ff6a35;
  font-size: 15px;
  text-decoration: none;
  font-weight: 500;
}
.explore-link:hover {
  text-decoration: underline;
}
