
.container {
  background-color: #000;
  color: #fff;
  padding: 2rem;
  max-width: 620px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  border: 1px solid rgba(255,255,255,0.2);
  
  background: rgba(0,0,0,0.55);
    backdrop-filter: blur(20px);
}


.booking-container {
  text-align: center;
  width: 100%; 
  margin: auto;
  font-weight: 600;
}

.booking-bg {
    margin: 0;
    padding: 0;
    background-image: url('images/c.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem; 
  font-weight: 600;
}


.subtitle {
  text-align: center;
  font-size: 0.9rem;
  color: #aaa;
  margin-bottom: 1.5rem; 
}


.sub-Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 15px;
}


.full-width {
  grid-column: 1 / -1;
}


.booking-container input,
.booking-container select,
.booking-container textarea {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 0.7rem;
  color: #fff;
  font-size: 0.9rem;
  box-sizing: border-box;
}

.booking-container input::placeholder,
.booking-container textarea::placeholder {
  color: #ccc;
}


.booking-container textarea {
  resize: none;
}


.button-wrapper {
  grid-column: 1 / -1;
  text-align: left;
  margin-top: 10px;
}
.profile-image{
  height: 20px;
  width: 20px;
}

.booking-container button {
  cursor: pointer;
  background: #fff;
  color: #000;
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 4px;
  font-weight: 600;
  transition: background 0.2s;
}

.booking-container button:hover {
  background-color: #e0e0e0;
}