.cart-page {
  background: #f4f4f4;
  min-height: 100vh;
  padding: 40px;
}

.cart-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.cart-title span {
  color: #ff4b4b;
}

.cart-content {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 35px;
}

.left-section {
  width: 55%;
}

.cart-card {
  background: #ffffff;
  padding: 18px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  justify-content: space-between;
}

.service-img {
  width: 95px;
  height: 95px;
  border-radius: 12px;
  object-fit: cover;
}

.details {
  flex: 1;
  margin-left: 18px;
}

.details h3 {
  margin: 0;
}

.salon {
  color: #777;
  font-size: 14px;
}

.date-time {
  display: flex;
  gap: 15px;
  font-size: 14px;
  margin: 6px 0;
}

.date-time svg {
  margin-right: 5px;
}

.qty-controls {
  display: flex;
  align-items: center;
  gap: 12px;
}

.qty-controls button {
  width: 32px;
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.right-controls {
  text-align: right;
}

.delete-btn {
  cursor: pointer;
  color: #555;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  font-size: 18px;
}

/* Order Summary Box */
.order-box {
  width: 30%;
  background: #ffffff;
  padding: 25px;
  border-radius: 18px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
}

.summary-total {
  display: flex;
  justify-content: space-between;
  margin: 14px 0;
}

.checkout-btn {
  width: 100%;
  background: #ff4b4b;
  color: white;
  padding: 14px;
  border-radius: 30px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 12px 0;
}

.continue {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #ff4b4b;
  text-decoration: none;
}
