
.profile-bg {
  background-image: url('/images/c.avif');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}


.blur-box {
  background: rgba(15, 15, 15, 0.55);
  backdrop-filter: blur(12px);
  border-radius: 18px;
  border: 1px solid rgba(255,255,255,0.18);
  color: white;
}
